<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>editor/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor/select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{205,1},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor/x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,20}</string>
                <key>spriteSourceSize</key>
                <string>{150,20}</string>
                <key>textureRect</key>
                <string>{{53,1},{150,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor/y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,150}</string>
                <key>spriteSourceSize</key>
                <string>{20,150}</string>
                <key>textureRect</key>
                <string>{{53,23},{20,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>editor.png</string>
            <key>size</key>
            <string>{226,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95ce41c4c6a106b805db7dd953a591e8:f307e6f8f00717bafc1205894542e82d:626c061a92ac2ba4d764b4449bc31c06$</string>
            <key>textureFileName</key>
            <string>editor.png</string>
        </dict>
    </dict>
</plist>
