<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit/slowdown-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{191,895},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit/slowdown-1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{131,909},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit/slowdown-1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,829},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit/slowdown-1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{249,829},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit/slowdown-1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{313,829},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit/slowdown-1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,923},{56,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit/slowdown-1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{377,829},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit/slowdown-1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,923},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/1-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{433,277},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/10-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{249,941},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/11-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{445,190},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/2-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{249,889},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/3-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{445,228},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/4-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{433,315},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/5-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{441,927},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/6-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{445,95},{46,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/7-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{301,889},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/8-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{450,1},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/9-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{393,935},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muzzle/machinegun-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{450,51},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muzzle/machinegun-1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{445,143},{45,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muzzle/machinegun-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{398,889},{41,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muzzle/machinegun-2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{350,935},{41,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muzzle/pistol-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{301,937},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muzzle/pistol-1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{441,829},{47,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muzzle/pistol-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{301,937},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muzzle/pistol-2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{441,829},{47,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muzzle/pistol-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{441,878},{47,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muzzle/pistol-3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{349,889},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,257},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/ringwave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,45}</string>
                <key>spriteSourceSize</key>
                <string>{90,45}</string>
                <key>textureRect</key>
                <string>{{198,257},{90,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wp/bomb-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{257,1},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/bomb-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{1,359},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/bomb-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{103,257},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{257,189},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{351,189},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{245,277},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{339,277},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{103,351},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{197,365},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{291,365},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/guidemissle-8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{385,365},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{257,95},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{356,1},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,453},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{351,95},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,547},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,641},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,735},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/machinegun-8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,829},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{96,439},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{95,533},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{95,627},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{95,721},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{95,815},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{190,453},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{284,453},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/pistol-8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{378,453},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{189,547},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{189,641},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{283,547},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{189,735},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{283,641},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{377,547},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{283,735},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{377,641},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wp/slowdown-9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{377,735},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{486,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92869e7a12ad393c3b9ea9eb2256488f:df55fac2e0edc5ba20ba68dfa8149e0f:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
