<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{1,103},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/melon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/singleColor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{103,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{106,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50a685ed8037368a37fef6113bff57c:c30d627c31b0a5650ba32fd9c9bf5b95:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
